Button{
    outline: none;
    width: 80%;
    height: 10%;
    display: table-cell;
    font-size: 3;
    color: white;
    border-radius: 1px;
    border: none;
    vertical-align: middle;
    background-color: #F03100;
    cursor: pointer;
    position: absolute;
    font-family: Raleway, sans-serif;
}


#singlePlayerButton {
    top: 13%;

}

#multiPlayerButton {
    outline-width: medium;
    top: 27%;
}

.joinGameButton {
    outline: none;
    text-align: center;
    margin: auto;
    height: 25%;
    outline-widows: none;
    display: table-cell;
    font-size: 2.5;
    color: white;
    border-radius: 1px;
    border: none;
    background-color: #F03100;
    cursor: pointer;
    margin-bottom: -3;
    font-family: Raleway, sans-serif;
}

.joinGameButton:hover {
    background-color: #FF582E;
}

.separatorRect {
    fill: #134900;
    opacity: 0.6
}

.inputBox {
    outline: none;
    font-size: 3;
    border: none;
    font-family: Raleway, sans-serif;
}

.accountButton {
    width: 40px;
    height: 10px;
}

#gameContainer {
    overflow-y: scroll
}

Button:hover{
    background-color: #FF582E;
}
